{namespace b=OliverThiele\OtBootstrap3\ViewHelpers}
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:f="http://xsd.oliver-thiele.de/ns/typo3/cms-fluid/7.6/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<head>
	<meta charset="utf-8">
	<title>Template: List </title>
	<link rel="stylesheet" type="text/css"
		  href="typo3conf/ext/ot_bootstrap3/Resources/Public/Vendor/Bootstrap3/css/bootstrap.css" media="all"/>
</head>
<body>

Der Inhalt des Template wird nicht mehr gerendert wenn der Parser auf layout stößt sondern startet beim Layout neu
<f:layout name="Default"/>

<f:section name="main">

	<!--f:debug title="All">{_all}</f:debug-->

	<f:flashMessages/>
	<f:security.ifHasRole role="Redakteur">
		Redakteur
	</f:security.ifHasRole>
	<f:link.action action="new" class="btn btn-primary">
		<f:translate key="new_event_button"/>
	</f:link.action>
	<hr>
	<f:form action="listSearchResults"
			class="form-inline"
			name="eventCategory"
			noCache="1"
			noCacheHash="1"
	>
		<div class="form-group">
			<div class="input-group">
				<f:form.select options="{eventCategories}"
							   prependOptionValue=""
							   prependOptionLabel="-- Kein Filter --"
							   optionValueField="uid"
							   optionLabelField="title"
							   class="form-control"
							   name="eventCategory"
							   value="{eventCategory}"
				/>

			</div>
			<f:form.button class="btn btn-default input-group-addon">
				<span class="glyphicon glyphicon-filter"></span>
			</f:form.button>
		</div>

	</f:form>
	<f:if condition="{events}">

		<f:then>
			<f:widget.paginate objects="{events}" as="paginatedEvents"
							   configuration="{itemsPerPage: 5, insertAbove: 1, insertBelow: 0, maximumNumberOfLinks: 10, addQueryStringMethod:'GET,POST'}">

				<f:for each="{paginatedEvents}" as="event">

					<div class="row">
						<div class="col-xs-12 col-sm-4">
							<f:if condition="{event.previewImage}">
								<f:then>
									<f:comment>
										<![CDATA[
										<!--
													<f:image src="{event.previewImage.originalResource.publicUrl}"
											 class="img-responsive" width="737"
											 alt="{event.previewImage.originalResource.properties.alternative}"
											 crop="{event.previewImage.originalResource.properties.crop -> f:format.raw()}"/>
										-->
										]]>
									</f:comment>
									<f:link.action action="show" arguments="{event : event}"
												   pageUid="{settings.displayList.singlePid}">
										<figure>
											<picture>
												<source srcset="{f:uri.image(
											src: '{event.previewImage.originalResource.publicUrl}',
											width: '737',
											crop: '{event.previewImage.originalResource.properties.crop -> f:format.raw()}')}"
														media="(max-device-width:767px)"/>

												<f:image src="{event.previewImage.originalResource.publicUrl}"
														 class="img-responsive
														 img-thumbnail" width="1140"
														 alt="{event.previewImage.originalResource.properties.alternative}"
												/>
											</picture>
											<f:if condition="{event.previewImage.originalResource.properties.description}">
												<figcaption>
													{event.previewImage.originalresource.properties.description}
												</figcaption>
											</f:if>
										</figure>
									</f:link.action>
								</f:then>
								<f:else>
									<!--<f:translate key="events_images_not_found" />-->
								</f:else>
							</f:if>
						</div>
						<div class="col-xs-12 col-sm-8">
							<h2>

								<f:comment>
									<![CDATA[
									<!--<f:format.date format="d.m.Y">{event.eventDateTimeStart}</f:format.date>-->
									]]>
								</f:comment>
								{event.eventDateTimeStart -> f:format.date(format:'{f:translate(id: \'format_date\')}')}
								<f:link.action action="show" arguments="{event : event}"> {event.title}</f:link.action>
								<f:if condition="{event.subtitle}">
									</br>
									<small>{event.subtitle}</small>
								</f:if>
							</h2>
							{event.teaser -> f:format.html()}


						</div>
					</div>
				</f:for>
			</f:widget.paginate>
		</f:then>
		<f:else>
			<div class="alert alert-info">
				<f:translate key="no_events_found"/>
			</div>
		</f:else>

	</f:if>
	<f:comment>
		<![CDATA[
		<!--
			<table class="tx_otevents">
	<tr>
		<th>
			<f:translate key="tx_otevents_domain_model_event.title"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.subtitle"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.path_segment"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.event_date_time_start"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.event_date_time_stop"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.is_top_event"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.teaser"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.bodytext"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.preview_image"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.images"/>
		</th>
		<th>
			<f:translate key="tx_otevents_domain_model_event.documents"/>
		</th>
		<th></th>
		<th></th>
	</tr>

	<f:for each="{events}" as="event">
		<tr>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.title}</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.subtitle}</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.pathSegment}</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.eventDateTimeStart ->
					f:format.date()}
				</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.eventDateTimeStop ->
					f:format.date()}
				</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.isTopEvent}</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.teaser}</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.bodytext}</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}">
					{event.previewImage.originalResource.name}
				</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}"> {event.images.originalResource.name}
				</f:link.action>
			</td>
			<td>
				<f:link.action action="show" arguments="{event : event}">
					{event.documents.originalResource.name}
				</f:link.action>
			</td>
			<td>
				<f:link.action action="edit" arguments="{event : event}">Edit</f:link.action>
			</td>
			<td>
				<f:link.action action="delete" arguments="{event : event}">Delete</f:link.action>
			</td>
		</tr>
	</f:for>
</table>
		-->
		]]>
	</f:comment>


</f:section>

</body>
</html>





