
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for EventCategory</h1>

<f:flashMessages />

<table  class="tx_otevents" >
	<tr>
		<th><f:translate key="tx_otevents_domain_model_eventcategory.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{eventCategories}" as="eventCategory">
		<tr>
			<td><f:link.action action="show" arguments="{eventCategory : eventCategory}"> {eventCategory.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{eventCategory : eventCategory}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{eventCategory : eventCategory}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New EventCategory</f:link.action>
</f:section>