
<label for="title">
	<f:translate key="tx_otevents_domain_model_eventlocation.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="address">
	<f:translate key="tx_otevents_domain_model_eventlocation.address" />
</label><br />
	<f:form.textarea property="address" cols="40" rows="15" /><br />
<label for="zip">
	<f:translate key="tx_otevents_domain_model_eventlocation.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="city">
	<f:translate key="tx_otevents_domain_model_eventlocation.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="latitude">
	<f:translate key="tx_otevents_domain_model_eventlocation.latitude" />
</label><br />
	<f:form.textfield property="latitude" /><br />
<label for="longitude">
	<f:translate key="tx_otevents_domain_model_eventlocation.longitude" />
</label><br />
	<f:form.textfield property="longitude" /><br />