
<table class="tx-ot-events" >
	<tr>
		<td>
			<f:translate key="tx_otevents_domain_model_eventlocation.title" />
		</td>
		<td>
			{eventLocation.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_otevents_domain_model_eventlocation.address" />
		</td>
		<td>
			{eventLocation.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_otevents_domain_model_eventlocation.zip" />
		</td>
		<td>
			{eventLocation.zip}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_otevents_domain_model_eventlocation.city" />
		</td>
		<td>
			{eventLocation.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_otevents_domain_model_eventlocation.latitude" />
		</td>
		<td>
			{eventLocation.latitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_otevents_domain_model_eventlocation.longitude" />
		</td>
		<td>
			{eventLocation.longitude}
		</td>
	</tr>
</table>